<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
      <%= javascript_include_tag "jquery-1.4.4.js" %>
      <%= stylesheet_link_tag "main" %>
      <title>Social Media</title>
      
      <script type="text/javascript">
        $(document).ready(function() {
        	$('.thumbnail').bind('click', function(){ 
        	    var video_id = $(this).attr("id");
        	    var player = '<object width="480" height="320">' + 
        	        '<param name="movie" value="http://www.youtube.com/v/' + video_id + '"></param>' +
        	        '<param name="allowFullScreen" value="false"></param>' + 
        	        '<param name="allowscriptaccess" value="always"></param>' + 
        	        '<embed src="http://www.youtube.com/v/' + video_id + '" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="false" width="480" height="320"></embed>' + 
        	    '</object>"';
                $("#video_player").html(player);
        	});
        });
      </script>
  </head>
  
  <body>
      <%= yield %>
  </body>
  
</html>